/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.features__title, .work__title, .team__title, .social-block__subtitle,
.subscribe-section__subtitle {
  color: #212121;
  letter-spacing: 0.03em;
  font-size: inherit;
  text-transform: uppercase;
}

.features__text, .team__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.button, .features__box, .work__overlay, .social-list__link, .clients__link, .button-close, .form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__dark {
  color: #000000;
}

.logo__light {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 23px;
  margin-right: 93px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-menu {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu__icon-cross {
  display: none;
}

.button-menu.is-open .button-menu__icon-cross {
  display: block;
}

.button-menu.is-open .button-menu__icon-menu {
  display: none;
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  padding: 48px 40px;
  background-color: #ffffff;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: calc(768px - 1px)) {
  .menu-container {
    display: none;
  }
}

.navigation__list,
.contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  position: relative;
  color: #2196f3;
}

.navigation__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: calc((-1) * 30px / 2);
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
    margin: calc(30px / 2);
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.14;
}

.section--no-padding-top {
  padding-top: 0;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .section--hiden {
    display: none;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: calc((-1) * 30px / 2);
}

.work__item {
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
      flex-basis: calc((100% - 3 * 30px) / 3);
  margin: calc(30px / 2);
}

.work__image {
  display: block;
  max-width: 100%;
}

.work__thumb {
  position: relative;
}

.work__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  color: #ffffff;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list__icon {
  fill: currentColor;
}

.section--other-background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: calc((-1) * 30px / 2);
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
    margin: calc(30px / 2);
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__image {
  display: block;
  max-width: 100%;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  max-width: 100%;
  text-align: center;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: none;
}

.team__text {
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc((-1) * 30px / 2);
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
  margin: calc(30px / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
    margin: calc(30px / 2);
  }
}

.clients__link {
  height: 92px;
  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__main-block {
  margin: 0 0 60px;
}

@media screen and (min-width: 1200px) {
  .footer__main-block {
    margin: 0;
  }
}

.adress {
  margin-top: 20px;
}

.adress__list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.adress__link--map {
  color: #ffffff;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social-block {
  margin: 0 0 60px;
}

@media screen and (min-width: 1200px) {
  .social-block {
    margin: 0 0 0 70px;
  }
}

.social-block__subtitle,
.subscribe-section__subtitle {
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.14;
}

.social-list__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link--footer:hover, .social-list__link--footer:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscribe-section {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin: 0 0 20px;
  padding-left: 16px;
  padding-right: 0;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  max-width: 450px;
  width: 100%;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  color: #2196f3;
}

.button-close__icon {
  fill: currentColor;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus-within {
  color: #2196f3;
}

.modal-form__field + .modal-form__field {
  margin-top: 10px;
}

.modal-form__label {
  color: #757575;
}

.modal-form__input {
  display: block;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  line-height: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus-within .modal-form__input {
  border-color: #2196f3;
}

.modal-form__textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  line-height: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form__field:focus-within .modal-form__textarea {
  border-color: #2196f3;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form__field:focus-within .modal-form__textarea::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .modal-form__field:focus-within .modal-form__textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .modal-form__field:focus-within .modal-form__textarea::-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .modal-form__field:focus-within .modal-form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
}

.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
}

.form-agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-agreement {
    height: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-agreement__icon {
  margin-right: 8px;
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement__input:focus + .form-agreement__icon {
  border-color: #2196f3;
}

.form-agreement__input:checked + .form-agreement__icon {
  background-color: #2196f3;
  border: 0;
}

.form-agreement__link {
  text-decoration: underline;
  color: #2196f3;
}

.filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filtre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filtre {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .filtre__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filtre__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 272px) {
  .filtre__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.filtre-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.63;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtre-button:hover, .filtre-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtre-button--current {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: calc((-1) * 30px / 2);
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    margin: calc(30px / 2);
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__actions {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .gallery__actions,
.gallery__link:focus .gallery__actions {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .gallery__actions {
    padding-top: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__actions {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.gallery__image {
  display: block;
  max-width: 100%;
}

.gallery__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.gallery__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */