.clients {
  display: flex;
  flex-wrap: wrap;
  @include negative-parent-margin($item-gap);
}
.clients__item {
  @include grid(2, $item-gap);
  @include margin($item-gap);
  @media screen and (min-width: $tablet) {
    @include grid(3, $item-gap);
    @include margin($item-gap);
  }
  @media screen and (min-width: $desktop) {
    @include grid(6, $item-gap);
    @include margin($item-gap);
  }
}
.clients__link {
  @extend %flex-center;
  height: 92px;
  color: getColor("icon-color");
  background-color: getColor("regular-white-color");
  border: 1px solid getColor("icon-color");
  border-radius: 4px;
  transition: color $duration $timing-function,
    border-color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
    border-color: getColor("accent-color");
  }
}
.clients__icon {
  fill: currentColor;
}
