.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: getColor("hero-background-color");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: getColor("regular-white-color");
  text-align: center;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(getColor("hero-overlay-color")),
      to(getColor("hero-overlay-color"))
    ),
    url(../images/hero/hero-mobile.jpg);
  background-image: -o-linear-gradient(
      left,
      getColor("hero-overlay-color"),
      getColor("hero-overlay-color")
    ),
    url(../images/hero/hero-mobile.jpg);
  background-image: linear-gradient(
      to right,
      getColor("hero-overlay-color"),
      getColor("hero-overlay-color")
    ),
    url(../images/hero/hero-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(getColor("hero-overlay-color")),
          to(getColor("hero-overlay-color"))
        ),
        url(../images/hero/hero-mobile@2x.jpg);
      background-image: -o-linear-gradient(
          left,
          getColor("hero-overlay-color"),
          getColor("hero-overlay-color")
        ),
        url(../images/hero/hero-mobile@2x.jpg);
      background-image: linear-gradient(
          to right,
          getColor("hero-overlay-color"),
          getColor("hero-overlay-color")
        ),
        url(../images/hero/hero-mobile@2x.jpg);
    }
  }
  @media screen and (min-width: $post-mobile) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(getColor("hero-overlay-color")),
        to(getColor("hero-overlay-color"))
      ),
      url(../images/hero/hero-tablet.jpg);
    background-image: -o-linear-gradient(
        left,
        getColor("hero-overlay-color"),
        getColor("hero-overlay-color")
      ),
      url(../images/hero/hero-tablet.jpg);
    background-image: linear-gradient(
        to right,
        getColor("hero-overlay-color"),
        getColor("hero-overlay-color")
      ),
      url(../images/hero/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(getColor("hero-overlay-color")),
            to(getColor("hero-overlay-color"))
          ),
          url(../images/hero/hero-tablet@2x.jpg);
        background-image: -o-linear-gradient(
            left,
            getColor("hero-overlay-color"),
            getColor("hero-overlay-color")
          ),
          url(../images/hero/hero-tablet@2x.jpg);
        background-image: linear-gradient(
            to right,
            getColor("hero-overlay-color"),
            getColor("hero-overlay-color")
          ),
          url(../images/hero/hero-tablet@2x.jpg);
      }
    }
  }
  @media screen and (min-width: $post-tablet) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(getColor("hero-overlay-color")),
        to(getColor("hero-overlay-color"))
      ),
      url(../images/hero/hero-desktop.jpg);
    background-image: -o-linear-gradient(
        left,
        getColor("hero-overlay-color"),
        getColor("hero-overlay-color")
      ),
      url(../images/hero/hero-desktop.jpg);
    background-image: linear-gradient(
        to right,
        getColor("hero-overlay-color"),
        getColor("hero-overlay-color")
      ),
      url(../images/hero/hero-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(getColor("hero-overlay-color")),
            to(getColor("hero-overlay-color"))
          ),
          url(../images/hero/hero-desktop@2x.jpg);
        background-image: -o-linear-gradient(
            left,
            getColor("hero-overlay-color"),
            getColor("hero-overlay-color")
          ),
          url(../images/hero/hero-desktop@2x.jpg);
        background-image: linear-gradient(
            to right,
            getColor("hero-overlay-color"),
            getColor("hero-overlay-color")
          ),
          url(../images/hero/hero-desktop@2x.jpg);
      }
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}
.hero__title {
  @include font(26px, 900, 1.62, 0.06em);
  margin-bottom: $item-gap;
  text-transform: uppercase;
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
