.section--other-background {
  background-color: getColor("secondary-background-color");
}
.team {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    @include negative-parent-margin($item-gap);
  }
}
.team__item {
  box-shadow: $team-card-shaddow;
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: $tablet) {
    @include grid(2, $item-gap);
    @include margin($item-gap);
  }
  @media screen and (min-width: $desktop) {
    @include grid(4, $item-gap);
    @include margin($item-gap);
  }
  &:not(:last-child) {
    @media screen and (max-width: $pre-tablet) {
      margin-bottom: $item-gap;
    }
  }
}
.team__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__box {
  padding-top: $item-gap;
  padding-bottom: 24px;
  max-width: 100%;
  text-align: center;
  background-color: getColor("regular-white-color");
  font-size: 16px;
  line-height: 1.19;
  @media screen and (min-width: $desktop) {
    padding-bottom: $item-gap;
  }
}
.team__title {
  @extend %subtitle;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: none;
}
.team__text {
  @extend %text;
  line-height: 1.19;
  margin-bottom: 16px;
}
