.section--no-padding-top {
  padding-top: 0;
}
.section--hiden {
  @media screen and (max-width: $pre-desktop) {
    display: none;
  }
}
.work {
  display: flex;
  @include negative-parent-margin($item-gap);
}

.work__item {
  @include grid(3, $item-gap);
  @include margin($item-gap);
}
.work__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.work__thumb {
  position: relative;
}
.work__overlay {
  @extend %flex-center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: getColor("work-overlay-color");
}
.work__title {
  @extend %subtitle;
  color: getColor("regular-white-color");
  line-height: 1.14;
}
