body {
  background-color: getColor("primary-background-color");
  color: getColor("primary-text-color");
  font-family: $primary-font;
  font-size: 14px;
  &.modal-open {
    overflow: hidden;
  }
  @media screen and (max-width: $pre-tablet) {
    &.menu-open {
      overflow: hidden;
    }
  }
}
