.clients {
  display: flex;
  flex-wrap: wrap;
  margin: calc((-1) * #{$item-gap} / 2);
}
.clients__item {
  flex-basis: calc((100% - 2 * #{$item-gap}) / 2);
  margin: calc(#{$item-gap} / 2);
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 3 * #{$item-gap}) / 3);
    margin: calc(#{$item-gap} / 2);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 6 * #{$item-gap}) / 6);
    margin: calc(#{$item-gap} / 2);
  }
}
.clients__link {
  @extend %flex-center;
  height: 92px;
  color: getColor("icon-color");
  background-color: getColor("regular-white-color");
  border: 1px solid getColor("icon-color");
  border-radius: 4px;
  transition: color $duration $timing-function,
    border-color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
    border-color: getColor("accent-color");
  }
}
.clients__icon {
  fill: currentColor;
}
