.section--no-padding-bottom {
  padding-bottom: 0;
}
.features {
  display: flex;
  @include negative-left-marg($item-gap);
}
.features__item {
  @include grid(4, $item-gap);
  margin-left: $item-gap;
}
.features__box {
  @extend %flex-center;
  height: 120px;
  background-color: getColor("secondary-background-color");
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__title {
  @extend %subtitle;
  margin-bottom: 10px;
  line-height: 1.14;
}
.features__text {
  @extend %text;
}
