.section--no-padding-bottom {
  padding-bottom: 0;
}
.features {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: calc((-1) * #{$item-gap} / 2);
  }
}
.features__item {
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * #{$item-gap}) / 2);
    margin: calc(#{$item-gap} / 2);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * #{$item-gap}) / 4);
    margin: calc(#{$item-gap} / 2);
  }
  &:not(:last-child) {
    @media screen and (max-width: (calc(#{$tablet} - 1px))) {
      margin-bottom: $item-gap;
    }
  }
}

.features__box {
  @extend %flex-center;
  height: 120px;
  background-color: getColor("secondary-background-color");
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__title {
  text-align: center;
  @extend %subtitle;
  margin-bottom: 10px;
  line-height: 1.14;
}
.features__text {
  @extend %text;
}
