.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor("footer-background-color");
}
.container--footer {
  display: flex;
  align-items: baseline;
}
.adress {
  margin-top: 20px;
}
.adress__list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress__link {
  color: getColor("contact-text-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.adress__link--map {
  color: getColor("regular-white-color");
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.social-block {
  margin-left: 70px;
}
.social-block__subtitle,
.subscribe-section__subtitle {
  @extend %subtitle;
  margin-bottom: 20px;
  color: getColor("regular-white-color");
  line-height: 1.14;
}
.social-list__link--footer {
  color: getColor("regular-white-color");
  background-color: getColor("footer-social-background-color");
  &:hover,
  &:focus {
    background-color: getColor("accent-color");
  }
}
.subscribe-section {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
}
.subscribe-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid getColor("footer-input-color");
  box-shadow: $button-shadow;
  border-radius: 4px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: getColor("contact-text-color");
  }
}
.button__icon {
  margin-left: 10px;
  fill: getColor("regular-white-color");
}
