body {
  background-color: getColor("primary-background-color");
  color: getColor("primary-text-color");
  font-family: $primary-font;
  font-size: 14px;
  &.modal-open {
    overflow: hidden;
  }
  @media screen and (max-width: $pre-tablet) {
    &.menu-open {
      overflow: hidden;
    }
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  margin-bottom: 30px;
  color: getColor("title-text-color");
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.button {
  @extend %flex-center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  color: getColor("regular-white-color");
  background-color: getColor("accent-color");
  box-shadow: $button-shadow;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  transition: background-color $duration $timing-function;
  &:hover,
  &:focus {
    background-color: getColor("button-hover-color");
  }
}
