body {
  background-color: getColor("primary-background-color");
  color: getColor("primary-text-color");
  font-family: $primary-font;
  font-size: 14px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  color: getColor("title-text-color");
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.button {
  @extend %flex-center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  color: getColor("regular-white-color");
  background-color: getColor("accent-color");
  box-shadow: $button-shadow;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: getColor("button-hover-color");
  }
}
