.header {
  border-bottom: 1px solid getColor("header-border-line-color");
  position: relative;
}
.container__header {
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 23px;
  margin-right: 93px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-menu {
  display: inline-flex;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.button-menu__icon-cross {
  display: none;
  .button-menu.is-open & {
    display: block;
  }
}
.button-menu.is-open .button-menu__icon-menu {
  display: none;
}
.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  padding: 48px 40px;
  background-color: getColor(regular-white-color);
  &.is-open {
    display: block;
  }
  @media screen and (max-width: (calc(#{$tablet} - 1px))) {
    display: none;
  }
}
.navigation__list,
.contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.navigation__list {
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  color: getColor("title-text-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.navigation__link--current {
  position: relative;
  color: getColor("accent-color");
  &::after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: getColor("accent-color");
  }
}
.contacts {
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  padding-top: 32px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;
  color: getColor("primary-text-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
