.header {
  border-bottom: 1px solid getColor("header-border-line-color");
}
.container__header {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 23px;
  margin-right: 93px;
}
.navigation {
  display: flex;
}
.navigation__list,
.contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.navigation__list {
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  color: getColor("title-text-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.navigation__link--current {
  position: relative;
  color: getColor("accent-color");
  &::after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: getColor("accent-color");
  }
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  padding-top: 32px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;
  color: getColor("primary-text-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
