.header {
  border-bottom: 1px solid getColor("header-border-line-color");
  @media screen and (max-width: $pre-tablet) {
    position: relative;
  }
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 15px;
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 23px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-menu {
  display: inline-flex;
  padding: 0;
  border: 0;
  color: getColor("title-text-color");
  background-color: transparent;
  transition: color $duration $timing-function;
  &.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 3;
  }
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.button-menu__icon-cross {
  display: none;
  .button-menu.is-open & {
    display: block;
  }
}
.button-menu.is-open .button-menu__icon-menu {
  display: none;
}
.menu-container {
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: getColor(regular-white-color);
  @media screen and (max-width: $pre-tablet) {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 48px 40px;
    transform: translateY(-100%);
    transition: transform $duration $timing-function;
    &.is-open {
      transform: translateY(0);
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.navigation__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.navigation__item:not(:last-child) {
  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}
.navigation__link {
  display: block;
  font-size: 40px;
  line-height: 1.18;
  color: getColor("title-text-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 31px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.navigation__link--current {
  color: getColor("accent-color");
  @media screen and (min-width: $tablet) {
    position: relative;
    &::after {
      display: inline-block;
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: getColor("accent-color");
    }
  }
}
.contacts {
  display: flex;
  @media screen and (max-width: $pre-tablet) {
    margin-top: auto;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin-left: auto;
  }
}
.contacts__item:not(:last-child) {
  @media screen and (max-width: $pre-tablet) {
    margin-top: 32px;
  }
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}
.contacts__link {
  font-size: 24px;
  line-height: 1.17;
  color: getColor("primary-text-color");
  transition: color $duration $timing-function;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 31px;
  }
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.contacts__link--mail {
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    padding-top: 20px;
  }
}
.contacts__link--phone {
  @media screen and (max-width: $pre-tablet) {
    font-size: 34px;
    line-height: 1.18;
    color: getColor("accent-color");
  }
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    padding-bottom: 19px;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  @media screen and (max-width: $pre-tablet) {
    display: none;
  }
}
.menu-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-social__item {
  padding: 0 10px;
  &:not(:last-child) {
    border-right: 1px solid getColor("modal-input-color");
  }
}
.menu-social__link {
  font-size: 18px;
  line-height: 1.22;
  color: getColor("accent-color");
}
