.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      getColor("hero-overlay-color"),
      getColor("hero-overlay-color")
    ),
    url(../images/hero.jpg);
  background-color: getColor("hero-background-color");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: getColor("regular-white-color");
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}
.hero__title {
  margin-bottom: $item-gap;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
