.logo {
  @include font(24px, 700, 1.17);
  display: block;
  font-family: $logo-font;
  color: getColor("accent-color");
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__dark {
  color: getColor("regular-black-color");
}
.logo__light {
  color: getColor("regular-white-color");
}
