.modal-form__title {
  @include font(20px, null, 1.5);
  display: block;
  margin-bottom: 12px;
  text-align: center;
  color: getColor("title-text-color");
  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}
.modal-form__field {
  @include font(12px, null, 1.17, 0.01em);
  position: relative;
  display: flex;
  flex-direction: column;
  color: getColor("title-text-color");
  & + & {
    margin-top: 10px;
  }
}
.modal-form__label {
  color: getColor("primary-text-color");
  transition: color $duration $timing-function;
  @media screen and (max-width: $pre-tablet) {
    .modal-form__field:focus-within & {
      color: getColor("accent-color");
    }
  }
}
.modal-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  margin-top: 4px;
  line-height: inherit;
  border: 1px solid getColor("modal-input-color");
  border-radius: 4px;
  transition: border-color $duration $timing-function;
  outline: none;
  &:focus {
    border-color: getColor("accent-color");
  }
}
.modal-form__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  line-height: inherit;
  border: 1px solid getColor("modal-input-color");
  border-radius: 4px;
  transition: border-color $duration $timing-function;
  resize: none;
  outline: none;
  &:focus {
    border-color: getColor("accent-color");
  }
}
.modal-form__textarea::placeholder {
  @include font(14px, null, 1.14, 0.01em);
  color: getColor("modal-form-placeholder-color");
  @media screen and (min-width: $desktop) {
    font-size: 12px;
    line-height: 1.17;
    .modal-form__field:focus-within & {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}
.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $duration $timing-function;
  .modal-form__input:focus + & {
    fill: getColor("accent-color");
  }
}
.form-agreement {
  @extend %flex-center;
  @include font(12px, null, 1.17);
  margin-top: 20px;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form-agreement__icon {
  margin-right: 8px;
  fill: getColor("regular-white-color");
  border: 2px solid getColor("title-text-color");
  border-radius: 2px;
  transition: border-color $duration $timing-function,
    background-color $duration $timing-function;
  .form-agreement__input:focus + & {
    border-color: getColor("accent-color");
  }
  .form-agreement__input:checked + & {
    background-color: getColor("accent-color");
    border-color: transparent;
  }
}
.form-agreement__link {
  text-decoration: underline;
  color: getColor("accent-color");
}
