.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: getColor("modal-overlay-color");
  opacity: 1;
  visibility: visible;
  transition: opacity $duration $timing-function,
    visibility $duration $timing-function;
}
.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: getColor("regular-white-color");
  box-shadow: $team-card-shaddow;
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity $duration $timing-function,
    transform $duration $timing-function;
  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }
}
.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.button-close {
  @extend %flex-center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: getColor("regular-white-color");
  color: getColor("regular-black-color");
  border: 1px solid getColor("button-close-color");
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
}
.button-close__icon {
  fill: currentColor;
}
