.section__title {
  @include font(28px, null, 1.18);
  margin-bottom: 30px;
  color: getColor("title-text-color");
  text-align: center;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
