.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  @extend %flex-center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: getColor("icon-color");
  background-color: getColor("regular-white-color");
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: getColor("regular-white-color");
    background-color: getColor("accent-color");
  }
}
.social-list__icon {
  fill: currentColor;
}
