h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
}
