.logo {
  display: block;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: getColor("accent-color");
}
.logo__dark {
  color: getColor("regular-black-color");
}
.logo__light {
  color: getColor("regular-white-color");
}
